body{
    text-align: center;
}
#welcome{
    background: rgb(107,5,175);
background: linear-gradient(90deg, rgba(107,5,175,1) 0%, rgba(82,162,200,1) 49%, rgba(232,176,70,1) 96%);
}
.profile{
    border-radius: 50%;
    width:300px;

}

.menu{
   position: fixed;
   background: white;
   width: 100%;
   margin-top: 0px;
   top: 0px;
   z-index: 10;
}
.link{
display: inline;
padding-left: 33px;
padding-right: 25px;
font-family: fantasy;
font-size: 20pt;
}
.link:hover
{
font-size: 40px;
text-decoration: underline;
}
.line{
height: 6px;
background-color: black;
width: 70px;
margin: 8px auto;
}
#bio{
    font-family: 'Cinzel Decorative',cursive;
padding: 50px;
}
#name{
    font-family: 'Bakbak One', cursive;
    font-size: 50px;
}
h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}
h2{
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
}
a{
    text-decoration: none;
    font-size: 35px;
}
#contact
{
    background:rgb(78, 4, 95) ;
}
#contact iframe{
    width: 100%;
    }
